Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans: 
A database is a systematic collection of data. It enables the storage, organization, and retrieval of data in various formats. There are two main types of databases:

SQL databases: These are relational databases that use structured query language (SQL) for defining and manipulating the data. They are table-based and follow a predefined schema. Examples include MySQL, PostgreSQL, and SQLite.

NoSQL databases: These are non-relational databases that do not require a fixed schema. They are designed to store and manage large sets of unstructured data. NoSQL databases can be document-based, key-value pairs, wide-column stores, or graph databases. 
    Examples include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans:
DDL (Data Definition Language) is a subset of SQL statements used to define the database schema or structure. These statements are used to define and modify the structure of database objects. Examples of DDL commands include:

CREATE: It is used to create a new table or database.
Example: CREATE TABLE Employees (id INT, name VARCHAR(100), age INT);

DROP: It is used to delete an entire table or database.
Example: DROP TABLE Employees;

ALTER: It is used to modify the structure of an existing table.
Example: ALTER TABLE Employees ADD COLUMN salary INT;

TRUNCATE: It is used to remove all records from a table, but the table structure remains intact.
Example: TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans:
DML (Data Manipulation Language) is used to manipulate the data in the database. It is used to insert, update, retrieve, and delete data from the database. Examples include:

INSERT: It is used to insert new records into a table.
Example: INSERT INTO Employees (id, name, age) VALUES (1, 'John Doe', 30);

UPDATE: It is used to modify existing records in a table.
Example: UPDATE Employees SET age = 31 WHERE id = 1;

DELETE: It is used to remove records from a table.
Example: DELETE FROM Employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

ans:
DQL (Data Query Language) is used to retrieve data from the database. It is primarily concerned with querying the database to retrieve specific information. The most common DQL command is:

SELECT: It is used to retrieve data from a database.
Example: SELECT * FROM Employees WHERE age > 25;

Q5. Explain Primary Key and Foreign Key.

ans:
Primary Key: A primary key is a unique identifier for each record in a table. It ensures that each record in the table can be uniquely identified. Primary keys must contain unique values and cannot contain NULL values.

Foreign Key: A foreign key is a field in a table that is a primary key in another table. It establishes a link between the data in two tables, creating a relationship between them. This key helps maintain referential integrity between the related tables.

In [11]:
'''
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ans:

cursor(): This method is used to create a cursor object, which is used to interact with the MySQL database.

execute(): This method is used to execute a specified SQL query. It takes the SQL query as an argument and performs the specified operation on the database.


import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
  host="hostname",
  user="root",
  password="pswd",
  database="demo"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM your_table")

# Fetch the result

result = mycursor.fetchall()
for x in result:
  print(x)

# Close the connection
mydb.close()
'''

'\nQ6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\n\nans:\n\ncursor(): This method is used to create a cursor object, which is used to interact with the MySQL database.\n\nexecute(): This method is used to execute a specified SQL query. It takes the SQL query as an argument and performs the specified operation on the database.\n\n\nimport mysql.connector\n\n# Establish connection\nmydb = mysql.connector.connect(\n  host="hostname",\n  user="root",\n  password="pswd",\n  database="demo"\n)\n\n# Create a cursor object\nmycursor = mydb.cursor()\n\n# Execute a query\nmycursor.execute("SELECT * FROM your_table")\n\n# Fetch the result\n\nresult = mycursor.fetchall()\nfor x in result:\n  print(x)\n\n# Close the connection\nmydb.close()\n'

Q7. Give the order of execution of SQL clauses in an SQL query.

ans: 
The general order of execution of SQL clauses in a query is as follows:

1} FROM
2}WHERE
3}GROUP BY
4}HAVING
5}SELECT
6}ORDER BY
7}LIMIT
some clauses might not be present in every query, and their order might be different based on the specific requirements of the query.