In [1]:
# Q1. List any five functions of the pandas library with execution.


# 1 á¸¥ead(n)
import pandas as pd
data = [['Axel',32], ['Alice', 26], ['Alex', 45]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df.head(2))

    Name  Age
0   Axel   32
1  Alice   26

In [2]:
# 2 tail
print(df.tail(2))

    Name  Age
1  Alice   26
2   Alex   45

In [3]:
# 3 concat
new_entry=pd.DataFrame(['M','F','M'],columns=['Gender'],index=[0,1,2])
df=pd.concat([df,new_entry],axis=1)
print(df)

    Name  Age Gender
0   Axel   32      M
1  Alice   26      F
2   Alex   45      M

In [4]:
#4 fillna
import pandas as pd

# Example DataFrame with NaN values
data = {'A': [1, 2, None, 4],
        'B': [None, 5, 6, None]}
df2 = pd.DataFrame(data)

# Fill NaN values with a scalar (e.g., 0)
df_filled = df2.fillna(0)
print(df_filled)

     A    B
0  1.0  0.0
1  2.0  5.0
2  0.0  6.0
3  4.0  0.0

In [5]:
# 5 mean(),mode(),median(),sum(),cumsum(),product(),cumprod()
df['Sum']=pd.Series(df.Age.mean())
df['median']=pd.Series(df.Age.median())
df['mode']=pd.Series(df.Age.mode())
df['Sum']=pd.Series(df.Age.sum())
df['CumSum']=pd.Series(df.Age.cumsum())
df['Product']=pd.Series(df.Age.product())
df['cumpro']=pd.Series(df.Age.cumprod())
print(df)

    Name  Age Gender    Sum  median  mode  CumSum  Product  cumpro
0   Axel   32      M  103.0    32.0    26      32  37440.0      32
1  Alice   26      F    NaN     NaN    32      58      NaN     832
2   Alex   45      M    NaN     NaN    45     103      NaN   37440

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:

data={'A':['Martha', 'Tim', 'Rob', 'Georgia'],
      'B':[87, 91, 97, 95],
    'C':[83, 99, 84, 76]
       }
df3=pd.DataFrame(data)
print(df3)
df3=df3.reindex(index=[1,3,5])
df3

         A   B   C
0   Martha  87  83
1      Tim  91  99
2      Rob  97  84
3  Georgia  95  76

         A     B     C
1      Tim  91.0  99.0
3  Georgia  95.0  76.0
5      NaN   NaN   NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60.

In [7]:

values=[10, 20, 30, 40, 50]
def sum(i):
    return i.sum(axis=0,skipna=True)
    
df3=pd.DataFrame(values)
print(" The Original DataFrame:")
print(df3)
# print(df3.sum(axis=0))
def iterate_and_sum(df3):
    '''A function that iterates over the DataFrame '''
    df3=df3.iloc[0:3,:]
    print("The first three elements of DataFrame:")
    print(df3)
    for index,values in df3.iteritems():
        sum3=0
    #     print(type(index))
    #     print(type(values))
        for i in values:
    #         print(i)
            
            sum3+=i
    return sum3
print("The Sum is : ",iterate_and_sum(df3))

print(iterate_and_sum.__doc__)

 The Original DataFrame:
    0
0  10
1  20
2  30
3  40
4  50
The first three elements of DataFrame:
    0
0  10
1  20
2  30
The Sum is :  60
A function that iterates over the DataFrame

 Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:

import numpy as np

df4= pd.DataFrame(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'],columns=['Text'])
print(df4)
print(df4.dtypes)
# df4=df4.astype('string')
# print(df4.dtypes)
def Word_Count(df4):
    for clm,values in df4.iteritems():
    #     print(values)
    #     print(type(values))
        s=values.astype('string')
        Word_Data=s.str.len()
        df4['Word_Count']=pd.DataFrame(Word_Data)
        

Word_Count(df4)
print(df4)

           Text
0           Tom
1  William Rick
2          John
3       Alber@t
4           NaN
5          1234
6    SteveSmith
Text    object
dtype: object
           Text Word_Count
0           Tom          3
1  William Rick         12
2          John          4
3       Alber@t          7
4           NaN       <NA>
5          1234          4
6    SteveSmith         10

Q5. How are DataFrame.size() and DataFrame.shape() different?
ans
Both DataFrame.size() and DataFrame.shape() are attributes of a Pandas DataFrame that provide information about its dimensions, but they serve different purposes:

DataFrame.size():

--> DataFrame.size returns the total number of elements in the DataFrame, i.e., the number of cells.

-->It is calculated by multiplying the number of rows by the number of columns.

-->This attribute returns a single integer value representing the total size of the DataFrame.

-->It is often used to check the total number of elements in the DataFrame, regardless of its dimensions.

DataFrame.shape(): 

-->DataFrame.shape returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.

-->It returns a tuple with two elements: the number of rows (axis 0) and the number of columns (axis 1).

-->This attribute is commonly used to understand the structure of the DataFrame, including its number of rows and columns

In [9]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)  # Output: 6 (2 rows * 3 columns = 6)

#size
print(df.size) 

#shape
print(df.shape)  # Output: (3, 2) (3 rows, 2 columns)

6
(3, 2)

Q6. Which function of pandas do we use to read an excel file?
ans:

use the read_excel() function to read data from an Excel file into a DataFrame. This function provides flexibility in reading various types of Excel files, including .xls and .xlsx formats. 
eg:

In [11]:
'''
import pandas as pd

# Syntax:
# pd.read_excel(io, sheet_name=0, header=0, index_col=None, ...)

# Parameters:
# io: str, path object or file-like object (e.g., file handle or StringIO)
#     The filepath or URL to the Excel file, or the file-like object containing the Excel data.
# sheet_name: str, int, list, or None, default 0
#     Specifies the sheet(s) to read. It can be a string (sheet name), an integer (sheet index), a list of strings/integers, or None (which reads all sheets).
# header: int, list of int, default 0
#     Specifies which row(s) to use as the column names. If None, no header will be used.
# index_col: int, str, sequence of int/str, or False, default None
#     Specifies the column(s) to use as the index (row labels) of the DataFrame. If a sequence is given, multi-level indexing is used.

# Example:
# Read data from an Excel file named 'data.xlsx' located in the current directory
df = pd.read_excel('data.xlsx')

# Read data from the second sheet of the Excel file
# df = pd.read_excel('data.xlsx', sheet_name='Sheet2')

# Read data with specific columns as index and header
# df = pd.read_excel('data.xlsx', index_col='ID', header=0)

# Display the DataFrame
print(df)

SyntaxError: EOF while scanning triple-quoted string literal (1141637768.py, line 28)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'.
Your function should extract the username from each email address and store it in the new 'Username' column

In [ ]:

df7 = pd.DataFrame({
    'Email': ['john.doe@example.com','albertofrancoaf@gmail.com','ginomcneillgm@yahoo.com','ryanparkesrp@abc.com', 'eeshahintonef@mail.com', 'ginomcneillgm@github.com']})
def username_from_email(dataframe):
    for col,values in dataframe.iteritems():
        s7=values.astype('string')
        data=list(s7.str.split('@'))
        data=s7.str.split('@')
    #     print(data)
        username=[]
        for i,j in data.iteritems():
    #         print(j,i)
            username=username+[j[0]]
        dataframe['username']=pd.Series(username)           
        
username_from_email(df7)
print(df7)

'Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'.Write a Python function that selects all rows where
the value in column 'A' is greater than 5 and the value in column 'B' is less than 5. The function should return a new
DataFrame that contains only the selected rows.For example, if df contains the following values:

  A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.'''

In [ ]:

df8=pd.DataFrame({'A':[3,8,6,2,9],
                  'B':[5,2,9,3,1],
                  'C':[1,7,4,5,2]})
print(df8)
print("\n")
print(df8[(df8.loc[:,'A'] >5) & (df8.loc[:,'B']<5)])

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [ ]:

df=pd.DataFrame({'Values':[1,7,4,5,2]})
print("mean :",df.mean())
print("median :",df.median())
print("mode :",df.mode())
print("standard deviation :",df.std())

In [ ]:
'''
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

     Date
0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

     Date               Weekday
0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.
'''

In [ ]:
# df['day_of_week'] = df['my_dates'].dt.day_name()
dates=["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]
df11=pd.DataFrame(dates, columns=['Dates'])
df11['Dates']=pd.to_datetime(df11['Dates'])
df11['Weekday'] = df11['Dates'].dt.day_name()
print(df11)

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [ ]:



import pandas as pd

# Creating a sample DataFrame
data = {'Date': ['2023-01-05', '2023-01-15', '2023-01-25', '2023-02-05', '2023-02-15'],
        'Value': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Function to select rows between '2023-01-01' and '2023-01-31'
def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Use the function to select rows within the specified date range
selected_rows = select_rows_between_dates(df)

# Display the selected rows
print("\nSelected Rows:")
print(selected_rows)

In [ ]:
'''

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

'''
import pandas as pd 
# pd is the alias name